ion-content.background{
    --background: url(../../assets/imgs/enBlank.png) 0 0/100% 100% no-repeat;

    font-family: zapfino;
    p {
        padding-top: 100px;
        font-size: 1.8rem;
        color: rgb(249,214,42);
    }
}